$color-1: #21c2f8;
$color-2: #ffffff;
$color-3: #222533;
$color-4: #f39705;
$color-5: #e25611;
$color-6: #9a2c4a;
$color-7: #97c200;
$color-8: #3d4c53;
$color-9: #62a783;
$color-10: #f82f54;
$color-11: #8fc567;
