h1,
h2,
h3,
h4 {
	text-align: center;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: rgb(211, 127, 25);
}

body {
	background-color: rgb(224, 210, 210);
}

p {
	width: 50vw;
	min-width: 500px;
	margin: 0 auto;
	font-size: large;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border-style: solid;
	border-color: rgb(189, 189, 162);
	border-radius: 10px;
	background-color: antiquewhite;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}

header nav {
	padding: 10px;
	margin-left: 5%;
	width: 20%;
	background-color: rgba(131, 90, 2, 0.274);
	border-radius: 10px;
}

header nav ul {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

header h3 {
	color: rgb(221, 58, 8);
}

header nav ul li {
	display: inline;
	font-size: larger;
	margin-left: 2%;
	border-style: solid;
	border-radius: 15px;
	border-color: rgb(160, 140, 51);
	background-color: rgb(226, 206, 116);
	transition-property: background-color, border-radius;
	transition-duration: 1s;
	padding: 2px;
}

header nav ul li:hover {
	background-color: rgb(167, 206, 149);
	border-radius: 0px;
}

header nav ul li a {
	text-decoration-line: none;
	color: brown;
}

section div img {
	color: black;
	border-radius: 30px;
	box-shadow: 5px 5px 20px;
	transition: height 1s;
}

section div img:hover {
	height: 250px;
}

.flex-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer {
	margin-top: 2%;
}
