@font-face {
    font-family: OpenSans;
    src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: OpenSansLight;
    src: url("../fonts/open-sans/OpenSans-Light.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}
