* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-container {
    width: 940px;
    height: 1060px;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}

.outer-container div {
    background-color: rgb(209, 205, 205);
}

.item-220px {
    width: 220px;
    height: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.item-100px {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.item-700px {
    width: 700px;
    height: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.item-460px {
    width: 460px;
    height: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.reset-right-margin {
    margin-right: 0px;
}

.reset-bottom-margin {
    margin-bottom: 0px;
}
